In [8]:
import pandas as pd
df = pd.read_csv("data.csv")
df.head()

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0

In [2]:
print(df.isnull().sum())

Duration    0
Pulse       0
Maxpulse    0
Calories    5
dtype: int64

In [3]:
#check wrong formats
print(df.dtypes)

Duration      int64
Pulse         int64
Maxpulse      int64
Calories    float64
dtype: object

In [10]:
#check for non numeric values in the column
import pandas as pd

# Load the dataset
df = pd.read_csv("data.csv")

# Check for non-numeric values in specified columns
for col in ['Duration', 'Pulse', 'Maxpulse', 'Calories']:
    non_numeric = pd.to_numeric(df[col], errors='coerce').isna()
    if non_numeric.any():
        print(f"Non-numeric values found in column '{col}':")
        print(df[non_numeric][col])
    else:
        print(f"All values in column '{col}' are numeric.")

All values in column 'Duration' are numeric.
All values in column 'Pulse' are numeric.
All values in column 'Maxpulse' are numeric.
Non-numeric values found in column 'Calories':
17    NaN
27    NaN
91    NaN
118   NaN
141   NaN
Name: Calories, dtype: float64

In [ ]:

# Check for negative values in numeric columns
for col in ['Duration', 'Pulse', 'Maxpulse', 'Calories']:
    if (df[col] < 0).any():
        print(f"Negative values found in column: {col}")
        print(df[df[col] < 0][col])  # Optional: print the rows with negative values
    else:
        print(f"No negative values in column: {col}")

No negative values in column: Duration
No negative values in column: Pulse
No negative values in column: Maxpulse
No negative values in column: Calories

In [9]:
import pandas as pd
df = pd.read_csv("data.csv")
#fill empty values with mean for numeric columns
for col in ['Duration', 'Pulse', 'Maxpulse', 'Calories']:
    df[col].fillna(df[col].mean(), inplace=True)

C:\Users\user\AppData\Local\Temp\ipykernel_16036\3752708910.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mean(), inplace=True)

In [16]:
#EDA 
#check the shappe of the dataset
print("Shape of the dataset:" ,df.shape)

Shape of the dataset: (169, 4)

In [3]:
print("Summary statistics:")
df.describe()

Summary statistics:

         Duration       Pulse    Maxpulse     Calories
count  169.000000  169.000000  169.000000   164.000000
mean    63.846154  107.461538  134.047337   375.790244
std     42.299949   14.510259   16.450434   266.379919
min     15.000000   80.000000  100.000000    50.300000
25%     45.000000  100.000000  124.000000   250.925000
50%     60.000000  105.000000  131.000000   318.600000
75%     60.000000  111.000000  141.000000   387.600000
max    300.000000  159.000000  184.000000  1860.400000